* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #3C2221;
  letter-spacing: 2px;
  background: url('/img/bg.jpg') repeat;
}

#app {
  height: 100%;
  width: 80%;
  margin: 100px auto;
  background: url('/img/contentbg.jpg') repeat;
  overflow: hidden;
}

.heading {
  background: #3C2221;
  height: 58px;
  line-height: 58px;
}

.heading h2 {
  font-size: 36px;
  font-weight: normal;
  color: #f1ebd5;
  text-transform: capitalize;
  text-align: center;
  margin-top: 0;
}

.heading img {
  float: left;
  height: 95px;
  position: absolute;
  top: 75px;
}

.orders,
.order-form {
	margin: 15px;
	border : 1px solid #3C2221;
	padding: 15px;
}

.order {
  border: 1px solid #3C2221;
  padding: 10px;
  margin: 5px;
  overflow: hidden;
}

.text {
  font-size: 25px;
  line-height: 40px;
  float: left;
  display: inline-block;
}

.order .btn {
  width: 150px;
}

.btn {
  cursor: pointer;
  border: 1px solid #3C2221;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  margin: 0 10px;
}

.btn:hover,
.btn:active {
  background: #3C2221;
  color: #fff;
}

.button-box {
  float: right;
  overflow: hidden;
}

.input-group {
  border: 1px solid #3C2221;
  border-radius: 3px;
  background: #fff;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.input-group input {
  line-height: 32px;
  font-size: 18px;
  padding: 0 5px;
  outline: none;
  border: none;
  margin: 0 5px;
  flex: 1;
}

.input-group .submit {
  line-height: 32px;
  font-size: 18px;
  padding: 0 20px;
  border-left: 1px solid #3C2221;
  border-right: 1px solid transparent;
  border-radius-right: 3px;
  cursor: pointer;
  float: right;
}

.input-group .submit:hover,
.input-group .submit:active {
  background: #3C2221;
  color: #fff;
}

