* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #3C2221;
  letter-spacing: 2px;
  background: url('/img/bg.jpg') repeat;
}

#app {
  height: 100%;
  width: 80%;
  margin: 100px auto;
  background: url('/img/contentbg.jpg') repeat;
  overflow: hidden;
}

.heading {
  background: #3C2221;
  height: 58px;
  line-height: 58px;
}

.heading h2 {
  font-size: 36px;
  font-weight: normal;
  color: #f1ebd5;
  text-transform: capitalize;
  text-align: center;
  margin-top: 0;
}

.heading img {
  float: left;
  height: 95px;
  position: absolute;
  top: 75px;
}

.order-form {
  margin: 40px 20px;
}

.shadow {
  box-shadow: 0 2px 7px 1px rgba(0,0,0,0.5);
}

.orders-box {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
}

.order {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.text {
  background: #fff;
  font-size: 25px;
  line-height: 50px;
  padding: 0 15px;
  flex: 1;
}

.order .btn {
  width: 50px;
  background: #fff;
}

.btn {
  cursor: pointer;
  text-align: center;
}

.ready {
  margin-right: 10px;
  font-size: 43px;
  color: green;
}

.delete {
  margin-left: 10px;
  font-size: 40px;
  line-height: 50px;
  color: red;
}

.input-group {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.input-group input {
  line-height: 50px;
  font-size: 18px;
  padding: 0 15px;
  outline: none;
  border: none;
  margin: 0;
  flex: 1;
}

.input-group .submit {
  line-height: 45px;
  background: #fff;
  font-size: 40px;
  cursor: pointer;
  width: 50px;
  text-align: center;
  float: right;
  margin-left: 10px;
}

.input-group .submit:hover,
.input-group .submit:active {
  background: #3C2221;
  color: #fff;
}

