* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #333;
  letter-spacing: 2px;
}

#app {
  height: 1080px;
  background: url('/img/bg.jpg') repeat;
  overflow: hidden;
}

.orders-box {
  width: 80%;
  margin: 100px auto 0 auto;
  height: 100%;
  background: url('/img/contentbg.jpg') repeat;
  text-align: right;
}

.order {
  font-size: 40px;
  padding: 20px;
  text-align: center;
  word-wrap: break-word;
  color: #3C2221;
}

.orders {
  width: 100%;
  margin-top: 45px;
}

.heading {
  background: #3C2221;
  height: 58px;
  line-height: 58px;
  text-align: left;
}

.heading h2 {
  font-size: 36px;
  font-weight: normal;
  color: #f1ebd5;
  text-transform: capitalize;
  padding-left: 330px;
}

.heading img {
  float: left;
  height: 200px;
  position: absolute;
  top: 30px;
}

.kitchen-sync_logo {
  position: fixed;
  bottom: 10px;
  margin-left: -210px;
}